---
layout: archive
---

{{ content }}

<style>
  .container {
    position: relative;
    max-width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
  }

  .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
  }

  .button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #414141;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .links {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    }

  .link {
    margin: 5px;
    padding: 10px 20px;
    background-color: #414141;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
  }
</style>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

{% include paginator.html %}
